<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, options = { size:500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">My Collection <span class="badge badge-secondary"><%= @counts_collections %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り <span class="badge badge-secondary"><%= @counts_favorites %></span></a></li>
    </ul>
    <%= render 'favorite', collections: @likes %>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col-sm-2" style="margin: 10px;">
    <%= link_to "会員情報変更", edit_user_path, class: "btn btn-block btn-dark" %>
  </div>
  <div class="col-sm-2" style="margin: 10px;">
    <%= link_to "退会", @user, method: :delete, data: { confirm:'本当に退会してよろしいですか？' }, class: "btn btn-block btn-danger" %>
  </div>
</div>